  <!DOCTYPE html>
  <html lang="es">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="hotel">
      <meta name="author" content="yaritza Aburdene">
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

      <title>Impact</title>

      <!-- CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link href="{{asset('public/css/frontend.css')}}" rel="stylesheet">
      <link href="{{asset('public/css/flaticon.css')}}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- Datepicker-->
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
    {% endblock %}  
  </head>
   <!-- NAVBAR ============================= -->

     <body>
    <div class="navbar-wrapper">
        {# <div class="container"> #}
        <!-- Menu -->
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{path('impact_homepage')}}"><img class="img-responsive"  src="{{asset('public/img/LogoLittle.png')}}"/></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ path('impact_homepage') }}">Home</a></li>               
              </ul>
            </div>
          </div>
        </nav>

        {# </div> #}
      </div>

      {% block page_content %}

          <div id="body" class="home">
      <div class="header">
        <div class="nobackground">
          <img class="textCenter" src="images/LogoBlack.png">
          <!--<h1>ImPacT</h1>
          <h2></h2>-->
          <a href="blog.html" class="more">Foro</a>

      </div>
      <div class="body">
        <div>
          <h3>Juegos</h3>
          <ul>
            <li>
              <a href="game1.html"><img src="images/games/p1.jpg" alt=""></a>
            </li>
            <li>
              <a href="game2.html"><img src="images/games/p2.jpg" alt=""></a>
            </li>
            <li>
              <a href="game3.html"><img src="images/games/p3.jpg" alt=""></a>
            </li>
            <li>
              <a href="game4.html"><img src="images/games/p4.jpg" alt=""></a>
            </li>
            <li>
              <a href="game5.html"><img src="images/games/p5.jpg" alt=""></a>
            </li>
            <li>
              <a href="game6.html"><img src="images/games/p6.jpg" alt=""></a>
            </li>
            <li>
              <a href="game7.html"><img src="images/games/p7.jpg" alt=""></a>
            </li>
            <li>
              <a href="game8.html"><img src="images/games/p8.jpg" alt=""></a>
            </li>
          </ul>
        </div>

      </div>

      {% endblock %}
      <div class="footer">
        <!--<div>
          <ul>
            <li>
              <h1>FEATURED VIDEO</h1>
              <a href="blog.html"><img src="images/mars-rover.jpg" alt=""><span></span></a>
            </li>
            <li>
              <h1>LATEST BLOG</h1>
              <ul>
                <li>
                  <a href="blog.html"><img src="images/finding-planet.jpg" alt=""></a>
                  <h1>FINDING PLANET X-123</h1>
                  <span>FEBRUARY 6, 2023</span>
                  <a href="blog.html" class="more">Read More</a>
                </li>
                <li>
                  <a href="blog.html"><img src="images/new-satellitedish.jpg" alt=""></a>
                  <h1>NEW SATELLITE DISH</h1>
                  <span>FEBRUARY 3, 2023</span>
                  <a href="blog.html" class="more">Read More</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>-->
      </div>
    </div>
    <div id="footer">
      <div class="connect">
        <div>
          <h1>SIGUENOS</h1>
          <div>
            <a href="http://freewebsitetemplates.com/go/facebook/" class="facebook">facebook</a>
            <a href="http://freewebsitetemplates.com/go/twitter/" class="twitter">twitter</a
          </div>
        </div>
      </div>
      <div class="footnote">
        <div>
          <p>&copy; 2018 BY BARCHAR - IMPACT | ALL RIGHTS RESERVED</p>
        </div>
      </div>
    </div>
  </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js" ></script>
  </div></body></html>